{
    "parser": "typescript",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine":"auto"
}